*.egg-info
.eggs/
*.egg/
dist/
build/
.idea/
*.pyc
.tox/
py27/
target/
*coverage*
*.swp
AUTHORS
ChangeLog
.DS_Store
.mypy_cache

# virtualenv
venv/

# jupyter
.ipynb_checkpoints/
*.ipynb

# beam
*-00000-of-00001.gz
